<%= provide(:title, "Log In") %>
<h1 class="text-center">Log In</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4 log-in">
    <%= form_for(:session, url: login_path ) do |f| %>    

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control log-in"  %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control log-in"  %>
    
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>  
      <div class="col-md-6 col-md-offset-3">
        <%= f.submit "Log In Now", class: "btn btn-lg btn-primary"%>
      </div> 
    <% end %>
  </div>
</div>