<% if @books.any?  %>
  <h1 class="jumbotron text-left">Books</h1>
  <ol class="books">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 "> NAME</div>
          <div class="col-md-1 "> SEM </div>
          <div class="col-md-2 "> AUTHOR </div>
          <div class="col-md-4 "> Uploaded By <br></div>
        </div>
        <br />
        <% @books.each do |book|%>
          <div class="row">
            <div class="col-md-3"> <%= link_to book.name, "#" %></div>
            <div class="col-md-1"> <%= book.semester %></div>
            <div class="col-md-2"> <%= book.author %></div>
            <div class="col-md-4"> <%= link_to book.user.name, book.user %><br></div>
          </div>
        <% end %>
      </div>
    </div>
  </ol>
<% end %>
