<% if @users.any?  %>
  <h1 class="jumbotron text-left">Users</h1>
  <% @users.each do |user|%>
    <div class="user-search-display">
      <%= link_to user.name, user %>
      <% if user.profile_picture? %>
        <%= image_tag(user.profile_picture.url, size: "200x200")%>
      <% end %>
    </div>
  <% end %>
<% end %>
