<h1>Books Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-4">
          <%= text_field_tag :q, params[:q] %>
        </div>
        <div class="col-md-2">
          <%= submit_tag "Go", name: nil %>     
        </div>        
      </div>
    </div>
  </p>
<% end %>

<% #debugger %>
<%= render "search/display_users" %>
<%= render "search/display_books" %>  