<% provide(:title, 'Edit User') %>
<h1 class = "text-center">Update your Profile</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' , object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.label :phone_no, "Mobile Number" %>
        <%= f.text_field :phone_no, class: 'form-control' %>
      </div>
      
      <div class="col-md-6">
        <%= f.label :gender %>
        <%= f.select :gender, ['M', 'F'], class: 'form-control'%>
      </div>
    </div>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    
    <span class="profile_picture">
      <p>Profile Picture
        <%= f.file_field :profile_picture, accept: "image/jpeg, image/png, image/gif" %>
      </p>
    </span>
    
    
    <div class="col-md-6 col-md-offset-3">
      <%= f.submit "Update my account", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
