<% provide(:title, 'Sign up') %>
<h1 class = "text-center">Sign up</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@user, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.label :phone_no, "Mobile Number" %>
        <%= f.text_field :phone_no, class: 'form-control' %>
      </div>
      
      <div class="col-md-6">
        <%= f.label :gender %>
        <%= f.select :gender, ['M', 'F'], class: 'form-control'%>
      </div>
    </div>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    
    <span class="profile_picture">
      <p>Profile Picture
        <%= f.file_field :profile_picture, accept: "image/jpeg, image/png, image/gif" %>
      </p>
    </span>

    <div class="col-md-6 col-md-offset-3">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#user_profile_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

