<% provide(:title, @user.name ) %>
<h1 class="text-left"> 
	<%= @user.name %> 
</h1>
<div class="row">	
	<aside class="col-md-3">
		<% if @user.profile_picture? %>
			<%= image_tag(@user.profile_picture.url, size: "280x210")%>
		<% end %>
		<br>
		<%= @user.name %>, 
		<%= @user.email %>
	</aside>

	<div class="col-md-8">
		<% if @user.books.any? %>
			<h3>Books (<%= @user.books.count %>) </h3>
 			<ol class="books">
				<%= render @books %>
			</ol>
      <%= will_paginate @books %>
		<% end %>
	</div>
</div>
