<li id="book-<%= book.id %>">
	<!-- Gravatar/User-Image  -->
	<span class="user"> <%= link_to book.user.name, book.user %> </span>
	<br>
	<%= image_tag book.picture.url if book.picture? %>
	<br>

	<div class="row">
		<div class="col-md-4">
			<span class="name"> <%= book.name %> </span>
		</div>
		<div class="col-md-4">
			<span class="author"> <%= book.author %> </span>
		</div>
		<div class="col-md-2">
			<span class="stream"> <%= book.stream %> </span>
		</div>
	</div>

	<span class="timestamp">
		Posted <%= time_ago_in_words(book.created_at) %> ago.
		<% if current_user?(book.user) %>
			<%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure?"} %>
		<% end %>
 	</span>
</li>