<% provide(:title, "New Book") %>

<%= form_for(@book) do |f| %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		  <h1 class="focus">Post a new book</h1>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control"  %>

			<%= f.label :author %>
			<%= f.text_field :author, class: "form-control" %>

			<div class="row">
				<div class="col-md-4">
					<%= f.label :semester %>
					<%= f.select :semester, [1,2,3,4,5,6,7,8], class: "from-control" %>
				</div>
				<div class="col-md-4">
					<%= f.label :stream %>
					<%= f.select :stream, ["CSE/IT","ECE","EEE","MCE","Civil"],
							class: "from-control" %>
				</div>
				<div class="col-md-4">
					<%= f.label :price %>
					<%= f.text_field :price, class: "form-control" %>
				</div>	
			</div>

			<span class="picture"> 
				<%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
			</span>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				  <%= f.submit "Post Book", class: "btn btn-lg btn-primary" %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
  $('#book_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
