@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins, variable and other stuff */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


body {
	background-color: rgba(200,200,200,0.5);
  padding-top: 20px;
}



/*Footer*/
footer {
	background-color: rgba(10,10,50,0.2);
		
	#logo {
		margin-top: 15px;
		float: left;
		color: azure;
		
		&:hover {
			text-decoration: none;
			color: #aaa;
			font-weight: bold;

		}
	}
	
	a {
		color: black;
	}
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
	background-color: burlywood;
  @include box_sizing;
}

.flash {
	padding-top: 20px;
}


/* Log In */

.log-in {
	margin-bottom: 20px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* Header */
header {
  background-color: rgba(10,10,50,0.5);
  
  #header_logo {
    /*margin-top: 15px;*/
    float: left;
    padding-top: 15px;
    color: azure;
    
    &:hover {
      text-decoration: none;
      color: #aaa;
      font-weight: bold;
    }
  }
  a {
    color: $gray-darker;
  }

}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* books */

.books {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
