<footer class="navbar navbar-fixed-bottom">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Links", "#" %></li>
				<li><%= link_to "About", "#" %></li>
				<li><%= link_to "Help", "#" %></li>
				<li><%= link_to "Contact", "#" %></li>
			</ul>
		</nav>
	</div>	
</footer>